spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/dev_bistrobooking
    username: dev
    password: 0a58B7#AsY*9
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
server:
  port: 8081